.input-container {
  width: 100%;
  top: 50px;
  bottom: 0;
  position: absolute;
  text-align: center;
}

.hero-header {
  color: white;
}

.input-container-inner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container-inner .form-control {
  margin: 30px 0;
}

.navbar-default {
  background: #f36a34;
  border: none;
}

.navbar {
  border-radius: 0;
}

.navbar input {
  margin-right: 10px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: white;
}
